body
	background-color #F8F8F8
	background-image url('../images/bg.png') !important
	background-repeat repeat
	font-size 12px
#header_content
	display none
#content
	.loading_header
		color #7C7699
		text-align center
		.title_icon
			font-size 3em !important