<div id='shop_content'>
	<div class='row'>
		<div class='col-sm-9'>
			<ul class="main_slider">
				{% for element in pagedata.slider %}
					<li><img src="{{ pagedata.webroot }}images/slider/{{ element.filename }}" /></li>
				{% endfor %}
			</ul>
			{% if pagedata.topViewerProducts.length > 0 %}
			<h4>Productos mas populares</h4>
			<hr/>
			<div id='category_products'>
				<div class='row'>
				{% for product in pagedata.topViewerProducts %}
					{% if loop.index <= 4 %}
						<div class='col-sm-3'>
							<div class='product'>
								<div class='cover' style="background-image: url('{{ webroot }}images/products/{{ product.picture.file }}')">
									<div class='actions pointer' onclick="loadProduct('{{ product.shortname }}')">
										<div class='top'></div>
										<div class='title'>{{ product.name }}</div>
										<div class='green_button button_cart' onclick="{% if pagedata.logged == 0 %}aunthenticateFirst(){% else %}addToCart({{ product.id }}){% endif %}">
											<span class='icon-cart3'>&nbsp;</span>Agregar
										</div>
										<div class='bottom'></div>
									</div>
								</div>
								<div class='description'>
									<p class='price'>{{ product.currency.symbol }} {{ product.price }}</p>
									<p class='category' onclick="loadCategory('{{ product.category.shortname }}')">{{ product.category.name }}</p>
								</div>
							</div>
							<div class='content_spacer'><br/></div>
						</div>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			{% endif %}
			<br/><br/>
		</div>
		<div class='col-sm-3'>
			<div id='menu_left'>
				<ul>
					{% for category in pagedata.categories %}
						<li onclick='displaySubMenu(this);'>
							<div class='menu_element' title='{{ category.description }}'>
								<span class='icon-play2 arrow_small'>&nbsp;</span><span class='menu_name' onclick="loadCategory('{{ category.shortname }}');">{{ category.name }}</span>
							</div>
							{% if category.subcategories.length > 0 %}
								<div class='sub_menu {% if loop.first %}display{% endif %}'>
									<ul>
										{% for subcategory in category.subcategories %}
											<li>
												<div class='submenu_element' onclick="loadCategory('{{ subcategory.shortname }}');" title='{{ subcategory.description }}'>
													<span class='icon-play2 arrow_small'>&nbsp;</span>{{ subcategory.name }}
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class='category_image {% if loop.first %}display{% endif %}' style="background-image: url('{{ pagedata.webroot }}/images/category/{{ category.picture }}');">
									<img src='{{ pagedata.webroot }}/images/category/submenu_image_gradient.png' alt='' width='288' height='288' />
								</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				<hr/>
				<ul>
					<li>
						<div class='menu_element' onclick='productsNews();'>
							<span class='icon-flag arrow_small'>&nbsp;</span>Novedades
						</div>
					</li>
					<li>
						<div class='menu_element' onclick='productOffers();'>
							<span class='icon-star arrow_small'>&nbsp;</span>Ofertas
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' src='{{ pagedata.webroot }}js/vendor/jquery.bxslider.min.js'></script>
<script type='text/javascript'>
	$(document).ready(function(){
		$('.main_slider').bxSlider({
			adaptiveHeight: true,
			autoHover: true,
			infiniteLoop: true,
			auto: true
		});
		$('#shop_link').addClass('On');
	});
	function displaySubMenu(menu){
		$('.sub_menu').css('display', 'none');
		$('.category_image').css('display', 'none');
		$(menu).find('.sub_menu').fadeIn();
		$(menu).find('.category_image').fadeIn();
	}
</script>